@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Localizer["Error"]</h1>
<h2 class="text-danger">@Localizer["An error"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["Request"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["Development"]</h3>
<p>
    @Localizer["Swapping"] <strong>@Localizer["Development1"]</strong>@Localizer["environment"]
</p>
<p>
    <strong>@Localizer["The Development"]</strong>
    @Localizer[" It can"] <strong>@Localizer["Development1"]</strong> @Localizer["environment"] <strong>@Localizer["ASPNETCORE_ENVIRONMENT"]</strong> @Localizer["environmentvariableto"] <strong>
        @Localizer["Development1"]
    </strong>@Localizer["the app."]
</p>
