<div data-animation="over-left" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" data-doc-height="1" role="banner" class="navbar w-nav">
    <div class="nav-container w-container">
        <div class="nav-menu-wrapper">
            <a href="/home-1" class="brand w-nav-brand">
                <img loading="lazy" height="21" alt="Logo" src="~/images/union-20-6-.svg" />
            </a>
            <nav role="navigation" class="nav-menu w-nav-menu">
                <div class="tablet-menu">
                    <a href="/home-1" class="brand-tablet w-nav-brand">
                        <img loading="lazy" height="21" alt="Logo" src="~/images/union-20-6-.svg" />
                    </a>
                    <div class="close-menu-button w-nav-button">
                        <img loading="lazy" src="~/images/close-btn.svg" alt="icon" class="nav-close-icon" />
                    </div>
                </div>
                <div class="menu-wrap">
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <p class="nav-item-title">@User.Identity.Name</p>
                    }
                    <div data-delay="0" data-hover="true" data-w-id="98682d76-9867-e65a-6f30-e57735e11fa3" class="nav-dropdown w-dropdown">
                        <div class="nav-dropdown-toggle w-dropdown-toggle">
                            <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
                            <p class="nav-item-title"></p>
                            <p class="nav-item-title">Demos</p>
                        </div>
                        <nav class="nav-dropdown-list w-dropdown-list">
                            <div class="nav-dropdown-link-wrapper">
                                <a href="/home-1" class="nav-dropdown-link w-dropdown-link"> <span class="nav-dropdown-link-line"> </span>Home 1 </a>
                                <a href="/home-2" class="nav-dropdown-link w-dropdown-link"> <span class="nav-dropdown-link-line"> </span>Home 2 </a>
                                <a href="/home-3" class="nav-dropdown-link w-dropdown-link"> <span class="nav-dropdown-link-line"> </span>Home 3 </a>
                            </div>
                        </nav>
                    </div>
                    <div data-delay="0" data-hover="true" data-w-id="98682d76-9867-e65a-6f30-e57735e11fb6" class="nav-dropdown w-dropdown">
                        <div class="nav-dropdown-toggle w-dropdown-toggle">
                            <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
                            <p class="nav-item-title">Studio</p>
                        </div>
                        <nav class="nav-dropdown-list w-dropdown-list">
                            <div class="nav-dropdown-link-wrapper">
                                <a href="@Url.Action("AboutUs", "home")" class="nav-dropdown-link w-dropdown-link">
                                    <span class="nav-dropdown-link-line"> </span>About Us
                                </a>
                                <a href="@Url.Action("services", "services")" class="nav-dropdown-link w-dropdown-link">
                                    <span class="nav-dropdown-link-line"> </span>Services
                                </a>
                                <a href="@Url.Action("OurTeam", "team")" class="nav-dropdown-link w-dropdown-link">
                                    <span class="nav-dropdown-link-line"> </span>TEAM
                                </a>
                                <a href="@Url.Action("Pricing", "pricing")" class="nav-dropdown-link w-dropdown-link">
                                    <span class="nav-dropdown-link-line"> </span>Pricing
                                </a>
                                <a href="@Url.Action("Testimonials", "testimonials")" class="nav-dropdown-link w-dropdown-link">
                                    <span class="nav-dropdown-link-line"> </span>Testimonials
                                </a>
                                <a href="@Url.Action("FAQ", "home")" class="nav-dropdown-link w-dropdown-link">
                                    <span class="nav-dropdown-link-line"> </span>FAQ
                                </a>
                            </div>
                        </nav>
                    </div>
                    <a href="/works-1" class="nav-link w-nav-link">Our Works</a><a href="/blog-1" class="nav-link w-nav-link">Blog</a>
                    <div data-delay="0" data-hover="true" data-w-id="98682d76-9867-e65a-6f30-e57735e11fd9" class="nav-dropdown w-dropdown">
                        <div class="nav-dropdown-toggle w-dropdown-toggle">
                            <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
                            <div class="nav-item-title">All Pages</div>
                        </div>
                        <nav class="nav-dropdown-list megamenu w-dropdown-list">
                            <div class="nav-dropdown-column">
                                <div class="nav-dropdown-link-wrapper">
                                    <a href="/home-1" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Home 1</a>
                                    <a href="/home-2" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Home 2</a>
                                    <a href="/home-3" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Home 3</a>
                                    <a href="/about-us" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>About Us</a>
                                    <a href="/our-team" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Our Team</a>
                                    <a href="/services" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Our services</a>
                                </div>
                            </div>
                            <div class="nav-dropdown-column">
                                <div class="nav-dropdown-link-wrapper">
                                    <div class="collection-list-wrapper w-dyn-list">
                                        <div role="list" class="w-dyn-items">
                                            <div role="listitem" class="w-dyn-item">
                                                <a href="/services/cinematic-storytelling" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Srvice Details</a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/pricing" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Pricing</a>
                                    <a href="/faq" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>FAQ</a>
                                    <a href="/contact-us" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Contact Us</a>
                                    <a href="/works-1" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Works 1</a>
                                    <a href="/works-2" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Works 2</a>
                                </div>
                            </div>
                            <div class="nav-dropdown-column">
                                <div class="nav-dropdown-link-wrapper">
                                    <a href="/works-3" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Works 3</a>
                                    <div class="collection-list-wrapper w-dyn-list">
                                        <div role="list" class="w-dyn-items">
                                            <div role="listitem" class="w-dyn-item">
                                                <a href="/works/fuji-mountain-cinematic" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Work Details</a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/blog-1" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Blog 1</a>
                                    <a href="/blog-2" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Blog 2</a>
                                    <a href="/blog-3" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Blog 3</a>
                                    <div class="collection-list-wrapper w-dyn-list">
                                        <div role="list" class="w-dyn-items">
                                            <div role="listitem" class="w-dyn-item">
                                                <a href="/blog-posts/the-power-of-minimalist-design" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Blog details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="nav-btn-wrapper desctop-hidden">
                        <a data-w-id="98682d76-9867-e65a-6f30-e57735e12040" href="/contact-us" class="nav-link-cta w-inline-block">
                            <div>Let&#x27;s Talk</div>
                            <div class="hover-line header"><div class="hover-line-fill white"></div></div>
                        </a>
                    </div>
                </div>
            </nav>
            <div class="nav-btn-wrapper">
                <a data-w-id="98682d76-9867-e65a-6f30-e57735e12046" href="/contact-us" class="nav-link-cta w-inline-block">
                    <div>Let&#x27;s Talk</div>
                    <div class="hover-line header"><div class="hover-line-fill white"></div></div>
                </a>
            </div>
            <div class="menu-button w-nav-button"><img loading="lazy" height="16" alt="icon" src="~/images/menu-btn.svg" class="image-burger" /></div>
            <div class="nav-underline"></div>
        </div>
    </div>
</div>