﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using System.Globalization

@inject IOptions<RequestLocalizationOptions> locOptions

<div data-animation="over-left" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" data-doc-height="1" role="banner" class="navbar w-nav">
    <div class="nav-container w-container">
        <div class="nav-menu-wrapper">
            <a href="@Url.Action("Index", "home")" class="brand w-nav-brand">
                <img loading="lazy" height="21" alt="Logo" src="~/images/union-20-6-.svg" />
            </a>
            <nav role="navigation" class="nav-menu w-nav-menu">
                <div class="tablet-menu">
                    <a href="@Url.Action("Index", "home")" class="brand-tablet w-nav-brand">
                        <img loading="lazy" height="21" alt="Logo" src="~/images/union-20-6-.svg" />
                    </a>
                    <div class="close-menu-button w-nav-button">
                        <img loading="lazy" src="~/images/close-btn.svg" alt="icon" class="nav-close-icon" />
                    </div>
                </div>
                <div class="menu-wrap">
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        <p class="nav-item-title">@User.Identity.Name</p>
                    }
                    <div data-delay="0" data-hover="true" data-w-id="98682d76-9867-e65a-6f30-e57735e11fb6" class="nav-dropdown w-dropdown">
                        <div class="nav-dropdown-toggle w-dropdown-toggle">
                            <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
                            <p class="nav-item-title">Studio</p>
                        </div>
                        <nav class="nav-dropdown-list w-dropdown-list">
                            <div class="nav-dropdown-link-wrapper">
                                <a href="@Url.Action("AboutUs", "Home")" class="nav-dropdown-link w-dropdown-link">
                                    <span class="nav-dropdown-link-line"> </span>About Us
                                </a>
                                <a href="@Url.Action("services", "Services")" class="nav-dropdown-link w-dropdown-link">
                                    <span class="nav-dropdown-link-line"> </span>Services
                                </a>
                                <a href="@Url.Action("OurTeam", "Team")" class="nav-dropdown-link w-dropdown-link">
                                    <span class="nav-dropdown-link-line"> </span>TEAM
                                </a>
                                <a href="@Url.Action("Pricing", "Services")" class="nav-dropdown-link w-dropdown-link">
                                    <span class="nav-dropdown-link-line"> </span>Pricing
                                </a>
                                <a href="@Url.Action("Testimonials", "Services")" class="nav-dropdown-link w-dropdown-link">
                                    <span class="nav-dropdown-link-line"> </span>Testimonials
                                </a>
                                <a href="@Url.Action("FAQ", "Home")" class="nav-dropdown-link w-dropdown-link">
                                    <span class="nav-dropdown-link-line"> </span>FAQ
                                </a>
                            </div>
                        </nav>
                    </div>
                    <a href="@Url.Action("Works1", "Works")" class="nav-link w-nav-link">Our Works</a><a href="@Url.Action("Blog1", "works")" class="nav-link w-nav-link">Blog</a>
                    <div data-delay="0" data-hover="true" data-w-id="98682d76-9867-e65a-6f30-e57735e11fd9" class="nav-dropdown w-dropdown">
                        <div class="nav-dropdown-toggle w-dropdown-toggle">
                            <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
                            <div class="nav-item-title">All Pages</div>
                        </div>
                        <nav class="nav-dropdown-list megamenu w-dropdown-list">
                            <div class="nav-dropdown-column">
                                <div class="nav-dropdown-link-wrapper">
                                    <a href="@Url.Action("AboutUs", "Home")" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>About Us</a>
                                    <a href="@Url.Action("OurTeam", "Team")" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Our Team</a>
                                    <a href="@Url.Action("Services", "Services")" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Our services</a>
                                </div>
                            </div>
                            <div class="nav-dropdown-column">
                                <div class="nav-dropdown-link-wrapper">
                                    <div class="collection-list-wrapper w-dyn-list">
                                        <div role="list" class="w-dyn-items">
                                            <div role="listitem" class="w-dyn-item">
                                                <a href="@Url.Action("Services", "Services")" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Service Details</a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="@Url.Action("Pricing", "Services")" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Pricing</a>
                                    <a href="@Url.Action("FAQ", "Home")" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>FAQ</a>
                                </div>
                            </div>
                            <div class="nav-dropdown-column">
                                <div class="nav-dropdown-link-wrapper">
                                    <a href="@Url.Action("Contact", "Home")" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Contact Us</a>
                                    <a href="@Url.Action("Works1", "Works")" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Our Works</a>
                                    <a href="@Url.Action("Blog1", "Works")" class="nav-dropdown-link w-dropdown-link"><span class="nav-dropdown-link-line"> </span>Blog</a>
                                </div>
                            </div>
                        </nav>

                    </div>
                    <div class="nav-btn-wrapper desctop-hidden">
                        <a data-w-id="98682d76-9867-e65a-6f30-e57735e12040" href="/contact-us" class="nav-link-cta w-inline-block">
                            <div>Let&#x27;s Talk</div>
                            <div class="hover-line header"><div class="hover-line-fill white"></div></div>
                        </a>
                    </div>
                    <div data-delay="0" data-hover="true" data-w-id="language-dropdown" class="nav-dropdown w-dropdown">
                        <div class="nav-dropdown-toggle w-dropdown-toggle">
                            <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
                            <p class="nav-item-title">@System.Threading.Thread.CurrentThread.CurrentUICulture.DisplayName</p>
                        </div>
                        <nav class="nav-dropdown-list w-dropdown-list">
                            <div class="nav-dropdown-link-wrapper">
                                @foreach (CultureInfo item in locOptions.Value.SupportedUICultures)
                                {
                                    var displayName = item.Name switch
                                    {
                                        "en" => "English",
                                        "ru" => "Русский",
                                        "kk" => "Қазақша",
                                        _ => item.DisplayName
                                    };
                                    <span onclick="ChangeCulture('@item.Name')" class="nav-dropdown-link w-dropdown-link" style="cursor: pointer;">
                                        <span class="nav-dropdown-link-line"></span>@displayName
                                    </span>
                                }
                            </div>
                        </nav>

                    </div>
                </div>
            </nav>
            <div class="nav-btn-wrapper">
                <a data-w-id="98682d76-9867-e65a-6f30-e57735e12046" href="/contact-us" class="nav-link-cta w-inline-block">
                    <div>Let&#x27;s Talk</div>
                    <div class="hover-line header"><div class="hover-line-fill white"></div></div>
                </a>
            </div>
            <div class="menu-button w-nav-button"><img loading="lazy" height="16" alt="icon" src="~/images/menu-btn.svg" class="image-burger" /></div>
            <div class="nav-underline"></div>
        </div>
    </div>
</div>