@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!-- Начало Search Desktop -->
@Html.Partial("SearchDesktop")
<!-- Конец Search Desktop -->
<section class="banner-home-2 dark-background">
    <div class="w-layout-blockcontainer base-container w-container">
        <div class="w-layout-hflex home-2-banner-top">
            <div class="w-layout-vflex about-title small">
                <div class="w-layout-vflex vertical-20">
                    <div class="position-relative">
                        <h1 class="text-white">@Localizer["TheMinds"]</h1>
                    </div>
                    <div class="banner-2-description">
                        <div class="paragraph-large gray-color">@Localizer["Meet"]</div>
                    </div>
                </div>
                <a href="#Scroll-link" class="scroll-link-light w-inline-block">
                    <div>@Localizer["Scroll"]</div>
                    <div class="dot"></div>
                </a>
            </div>
            <a href="#" id="Scroll-link" class="lightbox-home-2 w-inline-block">
                <div class="relative-20">
                    <div class="w-layout-hflex primary-button-white">
                        <div>@Localizer["Watch"]</div>
                        <div class="clip">
                            <div class="clip-icon-wrapper">
                                <img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" />
                            </div>
                            <div class="clip-icon-wrapper right">
                                <img src="~/images/group-201-20-4-.svg" loading="lazy" alt="icon" class="btn-icon" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="full-video-bg z1">
                    <video id="home-video" autoplay loop muted playsinline style='background-image:url("~/images/6883825-sd_960_506_25fps-poster-00001.jpg")' data-object-fit="cover">
                        <source src="~/images/6883825-sd_960_506_25fps-transcode.mp4" type="video/mp4" />
                        <source src="~/images/6883825-sd_960_506_25fps-transcode.webm" type="video/webm" />
                    </video>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="section overflow-hidden">
    <div class="w-layout-blockcontainer base-container position-relative w-container">
        <div class="w-layout-vflex vertical-40">
            <div class="w-layout-vflex vertical-20">
                <h2 class="quote-title">@Localizer["Labbonski"]</h2>
                <div class="quote-description">
                    <div class="gray-color paragraph-large">
                        @Localizer["Visionary"]
                    </div>
                </div>
                <div class="quote-video">
                    <video id="quote-video" autoplay loop muted playsinline style='background-image:url("~/images/523b-4675-8716-1b62195303ef-poster-00001.jpg")' data-object-fit="cover">
                        <source src="~/images/523b-4675-8716-1b62195303ef-transcode.mp4" type="video/mp4" />
                        <source src="~/images/523b-4675-8716-1b62195303ef-transcode.webm" type="video/webm" />
                    </video>
                </div>
                <div class="w-layout-vflex quote-wrapper">
                    <div class="quote-text-wrapper">
                        <h3 class="text-white">
                            @Localizer["At The"]
                        </h3>
                    </div>
                    <div class="w-layout-vflex vertical-8">
                        <h6 class="upper-text-600 text-white">@Localizer["Eric Labbonski"]</h6>
                        <h6 class="upper-text gray-color">@Localizer["CEO"]</h6>
                    </div>
                </div>
            </div>
            <div class="quote-absolute"></div>
        </div>
    </div>
</section>

<section>
    <div class="w-layout-blockcontainer base-container w-container">
        <div class="w-layout-vflex vertical-40 centered">
            <div class="w-layout-hflex subtitle">
                <div>@Localizer["the team"]</div>
                <div class="dot"></div>
            </div>
            <div class="team-title-wrapper center"><h2>@Localizer["Meet the"]</h2></div>
            <div class="w-layout-grid team-grid">
                <div class="w-layout-vflex vertical-24">
                    <div class="team-member-img"><img src="~/images/image-20-4-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
                    <div class="w-layout-vflex vertical-16">
                        <div class="w-layout-vflex vertical-2">
                            <h6 class="upper-text-600"> @Localizer["Amélie Laurent"]</h6>
                            <div class="upper-text gray-color">@Localizer["Creative Director"]</div>
                        </div>
                        <div class="gray-color">@Localizer["Visionary"]</div>
                    </div>
                </div>
                <div class="w-layout-vflex vertical-24">
                    <div class="team-member-img second"><img src="~/images/image-20-5-.webp" loading="lazy" alt="man" class="cover-image" /></div>
                    <div class="w-layout-vflex vertical-16">
                        <div class="w-layout-vflex vertical-2">
                            <h6 class="upper-text-600">@Localizer["Nikolas Gibbons"]</h6>
                            <div class="upper-text gray-color">@Localizer["Producer"]</div>
                        </div>
                        <div class="gray-color">@Localizer["Organizes"].</div>
                    </div>
                </div>
                <div class="w-layout-vflex vertical-24">
                    <div class="team-member-img third"><img src="~/images/image-20-6-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
                    <div class="w-layout-vflex vertical-16">
                        <div class="w-layout-vflex vertical-2">
                            <h6 class="upper-text-600">@Localizer["Sienna Hewitt"]</h6>
                            <div class="upper-text gray-color">@Localizer["Photography"]</div>
                        </div>
                        <div class="gray-color">@Localizer["Captures"]</div>
                    </div>
                </div>
                <div class="w-layout-vflex vertical-24">
                    <div class="team-member-img _04"><img src="~/images/image-20-7-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
                    <div class="w-layout-vflex vertical-16">
                        <div class="w-layout-vflex vertical-2">
                            <h6 class="upper-text-600">@Localizer["Lily"]</h6>
                            <div class="upper-text gray-color">@Localizer["Editor"]</div>
                        </div>
                        <div class="gray-color">@Localizer["Transforms"]</div>
                    </div>
                </div>
                <div class="w-layout-vflex vertical-24">
                    <div class="team-member-img _05"><img src="~/images/image-20-8-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
                    <div class="w-layout-vflex vertical-16">
                        <div class="w-layout-vflex vertical-2">
                            <h6 class="upper-text-600">
                                @Localizer["Zahra"]
                            </h6>
                            <div class="upper-text gray-color">@Localizer["Mot"]</div>
                        </div>
                        <div class="gray-color">@Localizer["Creates"]</div>
                    </div>
                </div>
                <div class="w-layout-vflex vertical-24">
                    <div class="team-member-img _06"><img src="~/images/image-20-9-.webp" loading="lazy" alt="woman" class="cover-image" /></div>
                    <div class="w-layout-vflex vertical-16">
                        <div class="w-layout-vflex vertical-2">
                            <h6 class="upper-text-600">@Localizer["Caitlyn"]</h6>
                            <div class="upper-text gray-color">@Localizer["Project"]</div>
                        </div>
                        <div class="gray-color">@Localizer["Ensures"]</div>
                    </div>
                </div>
                <div class="w-layout-vflex vertical-24 tablet-hidden">
                    <div class="team-member-img _07"><img src="~/images/image-20-10-.webp" loading="lazy" alt="man" class="cover-image" /></div>
                    <div class="w-layout-vflex vertical-16">
                        <div class="w-layout-vflex vertical-2">
                            <h6 class="upper-text-600">@Localizer["Zaid Schwartz"]</h6>
                            <div class="upper-text gray-color">Assistant Director</div>
                        </div>
                        <div class="gray-color">@Localizer["Supports logistics"]</div>
                    </div>
                </div>
                <div class="w-layout-vflex vertical-24 tablet-hidden">
                    <div class="team-member-img _08"><img src="~/images/image-20-11-.webp" loading="lazy" alt="Man" class="cover-image" /></div>
                    <div class="w-layout-vflex vertical-16">
                        <div class="w-layout-vflex vertical-2">
                            <h6 class="upper-text-600">@Localizer["Marco Kelly"]</h6>
                            <div class="upper-text gray-color">@Localizer["Customer Success"]</div>
                        </div>
                        <div class="gray-color">@Localizer["Lead"]</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="w-layout-blockcontainer base-container position-relative w-container">
        <div class="w-layout-vflex vertical-40 centered">
            <div class="w-layout-hflex subtitle">
                <div>@Localizer["Reviews"]</div>
                <div class="dot"></div>
            </div>
            <div class="w-layout-vflex vertical-20 centered">
                <h2 class="home-3-testimonials-title">@Localizer["Our clients"]</h2>
                <div class="gray-color">@Localizer["We're"]</div>
            </div>
            <div class="testimonials-slider-home-3">
                <div class="home-testimonials-slide">
                    <div class="w-layout-vflex slide-intro">
                        <div class="w-layout-vflex vertical-20">
                            <div class="w-layout-hflex stars-wrapper">
                                <img src="~/images/star-201.svg" loading="lazy" alt="star" />
                                <img src="~/images/star-201.svg" loading="lazy" alt="star" />
                                <img src="~/images/star-201.svg" loading="lazy" alt="star" />
                                <img src="~/images/star-201.svg" loading="lazy" alt="star" />
                                <img src="~/images/star-201.svg" loading="lazy" alt="star" />
                            </div>
                            <h5>@Localizer["The lab"]</h5>
                            <div class="upper-text-600 gray-color">@Localizer["Daniel"]</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>