@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!-- Начало Search Desktop -->
@Html.Partial("SearchDesktop")
<!-- Конец Search Desktop -->
<section class="banner-home-2 dark-background">
    <div class="w-layout-blockcontainer base-container w-container">
        <div class="w-layout-hflex home-2-banner-top">
            <div class="w-layout-vflex about-title large">
                <div class="w-layout-vflex vertical-20">
                    <div class="position-relative"><h1 class="text-white">@Localizer["Our Blog"]</h1></div>
                    <div class="banner-2-description">
                        <div class="paragraph-large gray-color">@Localizer["Each project"] </div>
                </div>
            </div>
            <a href="#scroll" class="scroll-link-light w-inline-block">
                    <div>@Localizer["Scroll"]</div>
                <div class="dot"></div>
            </a>
        </div>
    </div>
</section>

<div id="scroll" class="section">
    <div class="base-container w-container">
        <div class="blog-grid-wrapper">
            <div class="collection-list-wrapper">
                <div class="blog-grid">
                    <div class="collection-item">
                        <a href="/blog-posts/the-power-of-minimalist-design" class="blog-link w-inline-block">
                            <img src="~/images/tim-gouw-f2jas1gt5q4-unsplash.jpg"
                                 loading="lazy"
                                 alt="Work Image"
                                 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 32vw, 420px"
                                 srcset="
                                    ~/images/tim-gouw-f2jas1gt5q4-unsplash-p-500.jpg 500w,
                                    ~/images/tim-gouw-f2jas1gt5q4-unsplash-p-800.jpg 800w,
                                    ~/images/tim-gouw-f2jas1gt5q4-unsplash-p-1080.jpg 1080w,
                                    ~/images/tim-gouw-f2jas1gt5q4-unsplash-p-1600.jpg 1600w,
                                    ~/images/tim-gouw-f2jas1gt5q4-unsplash.jpg 1920w"
                                 class="cover-image" />
                        </a>
                        <div class="w-layout-vflex bottom-service">
                            <div class="w-layout-vflex vertical-8">
                                <div class="clip">
                                    <div class="clip-text-wrapper"><a href="/blog-posts/the-power-of-minimalist-design" class="works-title">@Localizer["The Power"]</a></div>
                                    <div class="clip-text-wrapper bottom"><a href="/blog-posts/the-power-of-minimalist-design" class="works-title">@Localizer["The Power"]</a></div>
                                </div>
                                <div class="w-layout-hflex"><div class="gray-color">@Localizer["Discover"]</div></div>
                            </div>
                            <a href="/blog-posts/the-power-of-minimalist-design" class="link-with-line w-inline-block">
                                <div>@Localizer["Read post"]</div>
                                <img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
                                <div class="hover-line"><div class="hover-line-fill"></div></div>
                            </a>
                        </div>
                    </div>

                    <div class="collection-item">
                        <a href="/blog-posts/secrets-to-capturing-cinematic-shots" class="blog-link w-inline-block">
                            <img src="~/images/david-kirchner-heskx6hbjtg-unsplash.jpg"
                                 loading="lazy"
                                 alt="Work Image"
                                 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 32vw, 420px"
                                 srcset="
                                    ~/images/david-kirchner-heskx6hbjtg-unsplash-p-500.jpg 500w,
                                    ~/images/david-kirchner-heskx6hbjtg-unsplash-p-800.jpg 800w,
                                    ~/images/david-kirchner-heskx6hbjtg-unsplash-p-1080.jpg 1080w,
                                    ~/images/david-kirchner-heskx6hbjtg-unsplash-p-1600.jpg 1600w,
                                    ~/images/david-kirchner-heskx6hbjtg-unsplash.jpg 1920w"
                                 class="cover-image" />
                        </a>
                        <div class="w-layout-vflex bottom-service">
                            <div class="w-layout-vflex vertical-8">
                                <div class="clip">
                                    <div class="clip-text-wrapper"><a href="/blog-posts/secrets-to-capturing-cinematic-shots" class="works-title">@Localizer["Secrets"]</a></div>
                                    <div class="clip-text-wrapper bottom"><a href="/blog-posts/secrets-to-capturing-cinematic-shots" class="works-title">@Localizer["Secrets"]</a></div>
                                </div>
                                <div class="w-layout-hflex"><div class="gray-color">@Localizer["Whether"]</div></div>
                            </div>
                            <a href="/blog-posts/secrets-to-capturing-cinematic-shots" class="link-with-line w-inline-block">
                                <div>@Localizer["Read post"]</div>
                                <img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
                                <div class="hover-line"><div class="hover-line-fill"></div></div>
                            </a>
                        </div>
                    </div>

                    <div class="collection-item">
                        <a href="/blog-posts/the-intersection-of-art-and-technology" class="blog-link w-inline-block">
                            <img src="~/images/davisuko-5e5n49rwtba-unsplash.jpg"
                                 loading="lazy"
                                 alt="Work Image"
                                 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 32vw, 420px"
                                 srcset="
                                    ~/images/davisuko-5e5n49rwtba-unsplash-p-500.jpg 500w,
                                    ~/images/davisuko-5e5n49rwtba-unsplash-p-800.jpg 800w,
                                    ~/images/davisuko-5e5n49rwtba-unsplash-p-1080.jpg 1080w,
                                    ~/images/davisuko-5e5n49rwtba-unsplash-p-1600.jpg 1600w,
                                    ~/images/davisuko-5e5n49rwtba-unsplash.jpg 1920w"
                                 class="cover-image" />
                        </a>
                        <div class="w-layout-vflex bottom-service">
                            <div class="w-layout-vflex vertical-8">
                                <div class="clip">
                                    <div class="clip-text-wrapper"><a href="/blog-posts/the-intersection-of-art-and-technology" class="works-title">@Localizer["The Intersection"]</a></div>
                                    <div class="clip-text-wrapper bottom"><a href="/blog-posts/the-intersection-of-art-and-technology" class="works-title">@Localizer["The Intersection"]</a></div>
                                </div>
                                <div class="w-layout-hflex"><div class="gray-color">@Localizer["Explore"]</div></div>
                            </div>
                            <a href="/blog-posts/the-intersection-of-art-and-technology" class="link-with-line w-inline-block">
                                <div>@Localizer["Read post"]</div>
                                <img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
                                <div class="hover-line"><div class="hover-line-fill"></div></div>
                            </a>
                        </div>
                    </div>

                    <div class="collection-item">
                        <a href="/blog-posts/the-arcane-symbols-of-winter" class="blog-link w-inline-block">
                            <img src="~/images/farrel-nobel-nsapredypru-unsplash.jpg"
                                 loading="lazy"
                                 alt="Work Image"
                                 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 32vw, 420px"
                                 srcset="
                                    ~/images/farrel-nobel-nsapredypru-unsplash-p-500.jpg 500w,
                                    ~/images/farrel-nobel-nsapredypru-unsplash-p-800.jpg 800w,
                                    ~/images/farrel-nobel-nsapredypru-unsplash-p-1080.jpg 1080w,
                                    ~/images/farrel-nobel-nsapredypru-unsplash-p-1600.jpg 1600w,
                                    ~/images/farrel-nobel-nsapredypru-unsplash.jpg 1920w"
                                 class="cover-image" />
                        </a>
                        <div class="w-layout-vflex bottom-service">
                            <div class="w-layout-vflex vertical-8">
                                <div class="clip">
                                    <div class="clip-text-wrapper"><a href="/blog-posts/the-arcane-symbols-of-winter" class="works-title">@Localizer["The Arcane"]</a></div>
                                    <div class="clip-text-wrapper bottom"><a href="/blog-posts/the-arcane-symbols-of-winter" class="works-title">@Localizer["The Arcane"]</a></div>
                                </div>
                                <div class="w-layout-hflex"><div class="gray-color">@Localizer["But the"]</div></div>
                            </div>
                            <a href="/blog-posts/the-arcane-symbols-of-winter" class="link-with-line w-inline-block">
                                <div>@Localizer["Read post"]</div>
                                <img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
                                <div class="hover-line"><div class="hover-line-fill"></div></div>
                            </a>
                        </div>
                    </div>

                    <div class="collection-item">
                        <a href="/blog-posts/crafting-cinematic-magic-in-snowy-landscapes" class="blog-link w-inline-block">
                            <img src="~/images/samsommer-vddcctqwal8-unsplash.jpg"
                                 loading="lazy"
                                 alt="Work Image"
                                 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 32vw, 420px"
                                 srcset="
                                    ~/images/samsommer-vddcctqwal8-unsplash-p-500.jpg 500w,
                                    ~/images/samsommer-vddcctqwal8-unsplash-p-800.jpg 800w,
                                    ~/images/samsommer-vddcctqwal8-unsplash-p-1080.jpg 1080w,
                                    ~/images/samsommer-vddcctqwal8-unsplash-p-1600.jpg 1600w,
                                    ~/images/samsommer-vddcctqwal8-unsplash.jpg 1920w"
                                 class="cover-image" />
                        </a>
                        <div class="w-layout-vflex bottom-service">
                            <div class="w-layout-vflex vertical-8">
                                <div class="clip">
                                    <div class="clip-text-wrapper"><a href="/blog-posts/crafting-cinematic-magic-in-snowy-landscapes" class="works-title">@Localizer["Crafting"]</a></div>
                                    <div class="clip-text-wrapper bottom"><a href="/blog-posts/crafting-cinematic-magic-in-snowy-landscapes" class="works-title">@Localizer["Crafting"]</a></div>
                                </div>
                                <div class="w-layout-hflex"><div class="gray-color">@Localizer["Crafting"]</div></div>
                            </div>
                            <a href="/blog-posts/crafting-cinematic-magic-in-snowy-landscapes" class="link-with-line w-inline-block">
                                <div>@Localizer["Read post"]</div>
                                <img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
                                <div class="hover-line"><div class="hover-line-fill"></div></div>
                            </a>
                        </div>
                    </div>

                    <div class="collection-item">
                        <a href="/blog-posts/how-to-create-impactful-brand-films" class="blog-link w-inline-block">
                            <img src="~/images/pexels-ruben-urrutia-2193317-10176614.jpg"
                                 loading="lazy"
                                 alt="Work Image"
                                 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 32vw, 420px"
                                 srcset="
                                    ~/images/pexels-ruben-urrutia-2193317-10176614-p-500.jpg 500w,
                                    ~/images/pexels-ruben-urrutia-2193317-10176614-p-800.jpg 800w,
                                    ~/images/pexels-ruben-urrutia-2193317-10176614-p-1080.jpg 1080w,
                                    ~/images/pexels-ruben-urrutia-2193317-10176614-p-1600.jpg 1600w,
                                    ~/images/pexels-ruben-urrutia-2193317-10176614.jpg 1920w"
                                 class="cover-image" />
                        </a>
                        <div class="w-layout-vflex bottom-service">
                            <div class="w-layout-vflex vertical-8">
                                <div class="clip">
                                    <div class="clip-text-wrapper"><a href="/blog-posts/how-to-create-impactful-brand-films" class="works-title">@Localizer["How to"]</a></div>
                                    <div class="clip-text-wrapper bottom"><a href="/blog-posts/how-to-create-impactful-brand-films" class="works-title">@Localizer["How to"]</a></div>
                                </div>
                                <div class="w-layout-hflex"><div class="gray-color">@Localizer["You might"]</div></div>
                            </div>
                            <a href="/blog-posts/how-to-create-impactful-brand-films" class="link-with-line w-inline-block">
                                <div>@Localizer["Read post"]</div>
                                <img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
                                <div class="hover-line"><div class="hover-line-fill"></div></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>