@model Message
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!-- Начало Search Desktop -->
@Html.Partial("SearchDesktop")
<!-- Конец Search Desktop -->
<section class="banner-home-2 dark-background">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-hflex home-2-banner-top">
			<div class="w-layout-vflex about-title large">
				<div class="w-layout-vflex vertical-20">
					<div class="position-relative">
						<h1 class="text-white">@Localizer["Frequently asked questions"]</h1>
					</div>
					<div class="banner-2-description">
						<div class="paragraph-large gray-color">@Localizer["Looking"]</div>
					</div>
				</div>
			</div>
			<a href="#scroll" class="scroll-link-light w-inline-block">
				<div>@Localizer["Scroll for more"]</div>
				<div class="dot"></div>
			</a>
		</div>
	</div>
</section>

<div id="scroll" class="section">
	<div class="base-container w-container">
		<div class="w-layout-grid process-grid">
			<div class="our-process-video-wrapper">
				<div data-poster-url="~/images/7346384-hd_720_960_25fps-poster-00001.jpg"
					 data-video-urls="~/images/7346384-hd_720_960_25fps-transcode.mp4,~/images/7346384-hd_720_960_25fps-transcode.webm"
					 data-autoplay="true"
					 data-loop="true"
					 data-wf-ignore="true"
					 class="absolute-video w-background-video w-background-video-atom">
					<video autoplay loop muted playsinline data-wf-ignore="true" data-object-fit="cover"
						   style='background-image:url("~/images/7346384-hd_720_960_25fps-poster-00001.jpg")'>
						<source src="~/images/7346384-hd_720_960_25fps-transcode.mp4" data-wf-ignore="true" />
						<source src="~/images/7346384-hd_720_960_25fps-transcode.webm" data-wf-ignore="true" />
					</video>
				</div>
				<div class="w-layout-hflex subtitle">
					<div>FAQ</div>
					<div class="dot"></div>
				</div>
			</div>

			<div class="w-layout-vflex vertical-40">
				<h2>@Localizer["The most common questions"]</h2>

				<div class="accordion-wrap-one-column">
					<div class="accordion-item w-dropdown">
						<div class="accordion-toggle w-dropdown-t
oggle">
							<div class="clip">
								<div class="clip-text-wrapper">
									<h6 class="accordion-title">@Localizer["What types of videos do you produce?"]</h6>
								</div>
								<div class="clip-text-wrapper bottom">
									<h6 class="accordion-title">@Localizer["What types of videos do you produce?1"]</h6>
								</div>
							</div>
							<img loading="lazy" alt="icon" src="~/images/group-201-20-2-.svg" class="accordion-icon" />
						</div>
						<nav class="accordion-list w-dropdown-list">
							<p class="accordion-list-content">@Localizer["We create"]</p>
						</nav>
					</div>

					<div class="accordion-item w-dropdown">
						<div class="accordion-toggle w-dropdown-toggle">
							<div class="clip">
								<div class="clip-text-wrapper">
									<h6 class="accordion-title">@Localizer["Can"]</h6>
								</div>
								<div class="clip-text-wrapper bottom">
									<h6 class="accordion-title">@Localizer["Can"]</h6>
								</div>
							</div>
							<img loading="lazy" alt="icon" src="~/images/group-201-20-2-.svg" class="accordion-icon" />
						</div>
						<nav class="accordion-list w-dropdown-list">
							<p class="accordion-list-content">@Localizer["Absolutely!"]</p>
						</nav>
					</div>

					<div class="accordion-item w-dropdown">
						<div class="accordion-toggle w-dropdown-toggle">
							<div class="clip">
								<div class="clip-text-wrapper">
									<h6 class="accordion-title">@Localizer["How"]</h6>
								</div>
								<div class="clip-text-wrapper bottom">
									<h6 class="accordion-title">@Localizer["How"]</h6>
								</div>
							</div>
							<img loading="lazy" alt="icon" src="~/images/group-201-20-2-.svg" class="accordion-icon" />
						</div>
						<nav class="accordion-list w-dropdown-list">
							<p class="accordion-list-content">@Localizer["Project"]</p>
						</nav>
					</div>

					<div class="accordion-item w-dropdown">
						<div class="accordion-toggle w-dropdown-toggle">
							<div class="clip">
								<div class="clip-text-wrapper">
									<h6 class="accordion-title">@Localizer["Do you provide scriptwriting and creative concepts?"]</h6>
								</div>
								<div class="clip-text-wrapper bottom">
									<h6 class="accordion-title">@Localizer["Do you provide scriptwriting and creative concepts?"]</h6>
								</div>
							</div>
							<img loading="lazy" alt="icon" src="~/images/group-201-20-2-.svg" class="accordion-icon" />
						</div>
						<nav class="accordion-list w-dropdown-list">
							<p class="accordion-list-content">@Localizer["Yes"]</p>
						</nav>
					</div>

					<div class="accordion-item w-dropdown">
						<div class="accordion-toggle w-dropdown-toggle">
							<div class="clip">
								<div class="clip-text-wrapper">
									<h6 class="accordion-title">@Localizer["Time"]</h6>
								</div>
								<div class="clip-text-wrapper bottom">
									<h6 class="accordion-title">@Localizer["Do you"]</h6>
								</div>
							</div>
							<img loading="lazy" alt="icon" src="~/images/group-201-20-2-.svg" class="accordion-icon" />
						</div>
						<nav class="accordion-list w-dropdown-list">
							<p class="accordion-list-content">@Localizer["The"]</p>
						</nav>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- Начало dark-bg-without-bottom -->
@Html.Partial("DarkBgWithoutBottom")
<!-- Конец dark-bg-without-bottom -->