@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!-- Index -->
<form action="/search" class="search-desktop w-form">
    <div class="search-wrapper">
        <input class="search-wrap-input w-input" autofocus="true" maxlength="256" name="query" placeholder="Enter search keyword" type="search" id="search-2" required="" />
        <div class="search-bottom-line"></div>
        <input type="submit" class="primary-button serch-button w-button" value="Search" />
    </div>
    <div data-w-id="cffaa0d6-0cd7-3509-9f08-dbbd1e309db4" class="search-close-button"></div>
</form>
<div class="section landing-banner">
    <div class="base-container w-container">
        <div class="landing-banner-title-wrapper">
            <h1 class="text-white">@Localizer["a"]</h1>
            <p class="banner-description text-white">@Localizer["b"]</p>
        </div>
    </div>
<img src="/images/landing-banner-screens-20-6-20-1-.webp"
     loading="lazy"
     sizes="(max-width: 991px) 95vw, (max-width: 1797px) 85vw, 1528px"
     srcset="
        /images/landing-banner-screens-20-6-20-1-p-500.webp 500w,
        /images/landing-banner-screens-20-6-20-1-p-800.webp 800w,
        /images/landing-banner-screens-20-6-20-1-p-1080.webp 1080w,
        /images/landing-banner-screens-20-6-20-1-.webp 1528w
     "
     alt="Page screen"
     class="landing-banner-image" />

</div>
<div data-w-id="cebc9d91-8eeb-e29f-7aca-98d92c657da3" class="section">
    <div class="base-container w-container">
        <div class="section-title-wrapper">
            <h2 class="section-title">@Localizer["c"]</h2>
            <p class="section-title-description">@Localizer["d"]</p>
        </div>
        <div class="w-layout-grid landing-performance-grid">
            <div id="w-node-_372136d8-e829-64ef-67e2-838d3299aaf5-1425c527" class="landing-performance-item">
                <h6 class="landing-performance-item-title">Google PageSpeed</h6>
                <div class="landing-progress-bar-wrapper">
                    <div class="landing-progress-bar-gray-line"></div>
                    <div style="width:0%;opacity:0" class="landing-progress-bar-95"><div class="landing-progress-bar-number">95%</div></div>
                </div>
            </div>
            <div id="w-node-_3046d385-00ef-1a39-a240-eeadbd211d20-1425c527" class="landing-performance-item">
                <h6 class="landing-performance-item-title">@Localizer["e"]</h6>
                <div class="landing-progress-bar-wrapper">
                    <div class="landing-progress-bar-gray-line"></div>
                    <div style="width:0%" class="landing-progress-bar-92"><div class="landing-progress-bar-number">92%</div></div>
                </div>
            </div>
            <div id="w-node-f8dcdfff-88b2-174f-772a-e4e26476447c-1425c527" class="landing-performance-item">
                <h6 class="landing-performance-item-title">PageSpeed @Localizer["f"]</h6>
                <div class="landing-progress-bar-wrapper">
                    <div class="landing-progress-bar-gray-line"></div>
                    <div style="width:0%" class="landing-progress-bar-100"><div class="landing-progress-bar-number">97%</div></div>
                </div>
            </div>
            <div id="w-node-_2e780f7e-ddc2-b018-b89f-b3fe073d5c8c-1425c527" class="landing-performance-item">
                <h6 class="landing-performance-item-title">GTmetrix YSlow @Localizer["f"]</h6>
                <div class="landing-progress-bar-wrapper">
                    <div class="landing-progress-bar-gray-line"></div>
                    <div style="width:0%" class="landing-progress-bar-88"><div class="landing-progress-bar-number">88%</div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blue background -->
<div class="section blue-background">
    <div class="base-container w-container">
        <div class="section-title-wrapper"><h2 class="section-title text-white">@Localizer["g"]</h2></div>
        <div class="w-layout-grid landing-features-grid">
            <div class="landing-feature-item">
                <div class="landing-feature-icon"></div>
                <h6 class="text-white">@Localizer["h"]<br /></h6>
                <p class="text-white">
                    @Localizer["i"] <a href="mailto:bakooofficial@gmail.com" class="white-link"><strong>bakooofficial@gmail.com</strong></a>
                </p>
            </div>
            <div class="landing-feature-item">
                <div class="landing-feature-icon"></div>
                <h6 class="text-white">@Localizer["j"]</h6>
                <p class="text-white">@Localizer["k"]</p>
            </div>
            <div class="landing-feature-item">
                <div class="landing-feature-icon"></div>
                <h6 class="text-white">@Localizer["l"]</h6>
                <p class="text-white">@Localizer["m"]</p>
            </div>
            <div class="landing-feature-item">
                <div class="landing-feature-icon"></div>
                <h6 class="text-white">@Localizer["n"]</h6>
                <p class="text-white">@Localizer["o"]</p>
            </div>
            <div class="landing-feature-item">
                <div class="landing-feature-icon"></div>
                <h6 class="text-white">@Localizer["p"]</h6>
                <p class="text-white">@Localizer["q"]</p>
            </div>
            <div class="landing-feature-item">
                <div class="landing-feature-icon"></div>
                <h6 class="text-white">@Localizer["r"]<br /></h6>
                <p class="text-white">@Localizer["s"]</p>
            </div>
            <div class="landing-feature-item">
                <div class="landing-feature-icon"></div>
                <h6 class="text-white">@Localizer["t"]</h6>
                <p class="text-white">@Localizer["u"]</p>
            </div>
            <div class="landing-feature-item">
                <div class="landing-feature-icon"></div>
                <h6 class="text-white">@Localizer["v"]</h6>
                <p class="text-white">@Localizer["w"]</p>
            </div>
        </div>
    </div>
</div>
<!-- End Blue background -->
<!-- Without-bottom-spacing -->
<div class="section without-bottom-spacing">
    <div class="base-container w-container">
        <div class="section-title-wrapper">
            <h2 class="section-title">@Localizer["x"]</h2>
            <p class="section-title-description">@Localizer["y"]</p>
        </div>
    </div>
    <div class="landing-inner-pages-wrapper">
        <a data-w-id="1965ce89-baf9-5f99-3809-4b5b1964fdc8" style="background-color:rgba(0,0,0,0)" href="@Url.Action("aboutus", "Home")" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="~/images/about.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="~/images/about-p-500.webp 500w, ~/images/about.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">@Localizer["z"]</h5>
        </a>
        <a data-w-id="3790f269-261a-a6a2-e4b6-711106fe86c9" style="background-color:rgba(0,0,0,0)" href="@Url.Action("OurTeam", "Team")" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="~/images/team.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="~/images/team-p-500.webp 500w, ~/images/team.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">@Localizer["za"]</h5>
        </a>
        <a data-w-id="3fc9cb0b-68f5-8cbd-499e-007f4101168b" style="background-color:rgba(0,0,0,0)" href="@Url.Action("Services", "Services")" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="~/images/services.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="~/images/services-p-500.webp 500w, ~/images/services.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">@Localizer["zb"]</h5>
        </a>
        <a data-w-id="e2a3a053-df28-895e-8409-52ed13066b45" style="background-color:rgba(0,0,0,0)" href="https://thelab-128.webflow.io/services/cinematic-storytelling" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="~/images/service-20det.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="~/images/service-20det-p-500.webp 500w, ~/images/service-20det.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">@Localizer["zc"]</h5>
        </a>
        <a data-w-id="327c4765-5586-5303-19f1-5bc424585bdd" style="background-color:rgba(0,0,0,0)" href="@Url.Action("Works1", "Works")" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="~/images/work-201.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="~/images/work-201-p-500.webp 500w, ~/images/work-201.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">@Localizer["zd"]</h5>
        </a>
        <a data-w-id="34a659f3-0ca0-016b-67db-00c403c6623b" style="background-color:rgba(0,0,0,0)" href="https://thelab-128.webflow.io/projects/fuji-mountain-cinematic" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="~/images/works-20det.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="~/images/works-20det-p-500.webp 500w, ~/images/works-20det.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">@Localizer["ze"]</h5>
        </a>
        <a data-w-id="c3da1160-a097-02c5-b94d-f9ec9397d6b5" style="background-color:rgba(0,0,0,0)" href="@Url.Action("FAQ", "home")" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="~/images/faq.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="~/images/faq-p-500.webp 500w, ~/images/faq.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">FAQ</h5>
        </a>
        <a data-w-id="3e516fb8-5aed-3132-b6ec-e3df72f1fa41" style="background-color:rgba(0,0,0,0)" href="@Url.Action("Testimonials", "Services")" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="~/images/test.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="~/images/test-p-500.webp 500w, ~/images/test.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">@Localizer["zf"]</h5>
        </a>
        <a data-w-id="6600e0c4-6368-036d-7b27-a6cfd13cfb5e" style="background-color:rgba(0,0,0,0)" href="@Url.Action("Pricing", "Services")" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="~/images/pricing.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="~/images/pricing-p-500.webp 500w, ~/images/pricing.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">@Localizer["zg"]</h5>
        </a>
        <a data-w-id="0bedde0e-dccc-f0dd-8ae1-b1abe648a496" style="background-color:rgba(0,0,0,0)" href="@Url.Action("Contact", "Home")" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="~/images/contact.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="~/images/contact-p-500.webp 500w, ~/images/contact.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">@Localizer["zh"]</h5>
        </a>
        <a data-w-id="84eea742-fdf5-b2cd-95ce-b4c9b18e4549" style="background-color:rgba(0,0,0,0)" href="@Url.Action("Blog1", "Works")" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="~/images/blog-201.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="~/images/blog-201-p-500.webp 500w, ~/images/blog-201.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">Blog 1</h5>
        </a>
        <a data-w-id="f9a60c0a-fb2e-ffb6-cb54-a843bd6bde7d" style="background-color:rgba(0,0,0,0)" href="https://thelab-128.webflow.io/blog-posts/the-power-of-minimalist-design" class="landing-inner-page-item w-inline-block">
            <div class="landing-inner-page-image-wrapper">
                <img src="~/images/blog-20det.webp"
                     loading="lazy"
                     style="filter:grayscale(0%)"
                     sizes="(max-width: 479px) 91vw, (max-width: 767px) 95vw, (max-width: 991px) 46vw, (max-width: 1279px) 31vw, (max-width: 1919px) 22vw, 328px"
                     alt="Page screen"
                     srcset="~/images/blog-20det-p-500.webp 500w, ~/images/blog-20det.webp 675w"
                     class="landing-inner-page-image" />
                <div style="opacity:0" class="landing-inner-page-icon"></div>
                <div style="opacity:0" class="landing-inner-page-overlay"></div>
            </div>
            <h5 style="color:rgb(0,0,0)" class="landing-inner-page-title">@Localizer["zi"]</h5>
        </a>
    </div>
</div>
<!-- End Without-bottom-spacing -->
<!-- Purchase Section -->
<div class="section-purchase">
    <div class="landing-download-block-wrapper">
        <div class="landing-download-block-wrap">
            <h3 class="text-white mb-20">@Localizer["zj"]</h3>
            <p class="text-white">@Localizer["zk"]</p>
        </div>
        <a href="https://webflow.com/dashboard/marketplace-checkout/redirect?rtype=Template&amp;rid=679aa222cf57f5c92ddf77d5" target="_blank" class="primary-button-white w-button">
            <span class="download-button-icon"></span>@Localizer["zl"]
        </a>
    </div>
</div>
<!-- End Purchase Section-->