@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!-- Начало Search Desktop -->
@Html.Partial("SearchDesktop")
<!-- Конец Search Desktop -->
<section class="banner-home-2 dark-background">
    <div class="w-layout-blockcontainer base-container w-container">
        <div class="w-layout-hflex home-2-banner-top">
            <div class="w-layout-vflex about-title large">
                <div class="w-layout-vflex vertical-20">
                    <div class="position-relative">
                        <h1 class="text-white">@Localizer["Our"]</h1>
                    </div>
                    <div class="banner-2-description">
                        <div class="paragraph-large gray-color">
                            @Localizer["TheLab"]
                        </div>
                    </div>
                </div>
            </div>
            <a href="#Next" class="scroll-link-light w-inline-block">
                <div>@Localizer["Scroll"]</div>
                <div class="dot"></div>
            </a>
        </div>
    </div>
</section>

<section class="section">
    <div class="w-layout-blockcontainer base-container w-container">
        <div class="w-layout-grid process-grid">
            <div class="our-process-video-wrapper">
                <div data-poster-url="~/images/process-poster-00001.jpg"
                     data-video-urls="~/images/process-transcode.mp4,~/images/process-transcode.webm"
                     data-autoplay="true"
                     data-loop="true"
                     data-wf-ignore="true"
                     class="absolute-video w-background-video w-background-video-atom">
                    <video id="cb6f7044-ece0-4579-a6eb-9292a0df43ca-video" autoplay loop style='background-image:url("~/images/process-poster-00001.jpg")' muted playsinline data-wf-ignore="true" data-object-fit="cover">
                        <source src="~/images/process-transcode.mp4" data-wf-ignore="true" />
                        <source src="~/images/process-transcode.webm" data-wf-ignore="true" />
                    </video>
                </div>
                <div class="w-layout-hflex subtitle">
                    <div>pricing</div>
                    <div class="dot"></div>
                </div>
            </div>
            <div class="w-layout-vflex vertical-40">
                <h2>@Localizer["What"]</h2>
                <div class="w-layout-vflex vertical-16">
                    <div class="w-layout-hflex horizontal-20">
                        <div class="upper-text-600 gray-color">01.</div>
                        <div class="upper-text-600">@Localizer["Access"]</div>
                    </div>
                    <div class="proces-item-description"><div class="gray-color">@Localizer["Westart"]</div></div>
                </div>
                <div class="w-layout-vflex vertical-16">
                    <div class="w-layout-hflex horizontal-20">
                        <div class="upper-text-600 gray-color">02.</div>
                        <div class="upper-text-600">@Localizer["Use"]</div>
                    </div>
                    <div class="proces-item-description"><div class="gray-color">@Localizer["Expert"]</div></div>
                </div>
                <div class="w-layout-vflex vertical-16">
                    <div class="w-layout-hflex horizontal-20">
                        <div class="upper-text-600 gray-color">03.</div>
                        <div class="upper-text-600">@Localizer["Transparent"]</div>
                    </div>
                    <div class="proces-item-description">
                        <div class="gray-color">@Localizer["From"]</div>
                    </div>
                </div>
                <div class="w-layout-vflex vertical-16">
                    <div class="w-layout-hflex horizontal-20">
                        <div class="upper-text-600 gray-color">04.</div>
                        <div class="upper-text-600">@Localizer["Commitment"]</div>
                    </div>
                    <div class="proces-item-description">
                        <div class="gray-color">@Localizer["OurSkilled"]</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="Next" class="section light-background">
    <div class="base-container w-container">
        <div class="w-layout-vflex vertical-100 centered">
            <div class="w-layout-hflex subtitle white">
                <div>@Localizer["WeAre"]</div>
                <div class="dot"></div>
            </div>
            <h2 class="pricing-title">@Localizer["quality"]</h2>
        </div>
        <div class="pricing-plans-wrapper">
            <div class="pricing-plan-item">
                <h3 class="pricing-plan-item-title">@Localizer["Essential"]</h3>
                <p>@Localizer["Perfect"]</p>
                <div class="pricing-small-text"><p class="upper-text">@Localizer["Starting"]</p></div>
                <div class="pricing-plan-price-wrapper">
                    <div class="pricing-plan-currency-icon">$</div>
                    <h6 class="upper-text"><span class="pricing-plan-price">500</span></h6>
                </div>
                <a href="/contact-us" class="primary-button w-inline-block">
                    <div>@Localizer["Buy"]</div>
                    <div class="clip">
                        <div class="clip-icon-wrapper">
                            <img src="~/images/group-201-20-4-.svg" loading="lazy" alt="icon" class="btn-icon" />
                        </div>
                        <div class="clip-icon-wrapper right"><img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
                    </div>
                </a>
                <ul role="list" class="pricing-plan-list">
                    <li>@Localizer["UP"]</li>
                    <li>@Localizer["Delivery"]</li>
                    <li>@Localizer["Single"]</li>
                    <li>@Localizer["Script"]</li>
                </ul>
            </div>
            <div class="pricing-plan-item">
                <h3 class="pricing-plan-item-title">@Localizer["Professional"]</h3>
                <p>@Localizer["Ideal"]</p>
                <div class="pricing-small-text"><p class="upper-text">@Localizer["Starting"]</p></div>
                <div class="pricing-plan-price-wrapper">
                    <div class="pricing-plan-currency-icon">$</div>
                    <h6 class="upper-text"><span class="pricing-plan-price">1500</span></h6>
                </div>
                <a href="/contact-us" class="primary-button w-inline-block">
                    <div>@Localizer["Buy"]</div>
                    <div class="clip">
                        <div class="clip-icon-wrapper">
                            <img src="~/images/group-201-20-4-.svg" loading="lazy" alt="icon" class="btn-icon" />
                        </div>
                        <div class="clip-icon-wrapper right"><img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
                    </div>
                </a>
                <ul role="list" class="pricing-plan-list">
                    <li>@Localizer["UP1"]</li>
                    <li>@Localizer["Delivery"]</li>
                    <li>@Localizer["Single"]</li>
                    <li>@Localizer["Script"]</li>
                </ul>
            </div>
            <div class="pricing-plan-item">
                <h3 class="pricing-plan-item-title">@Localizer["Cinematic"]</h3>
                <p class="pricing-description">@Localizer["For"]</p>
                <div class="pricing-small-text"><p class="upper-text">@Localizer["Starting"]</p></div>
                <div class="pricing-plan-price-wrapper">
                    <div class="pricing-plan-currency-icon">$</div>
                    <h6 class="upper-text"><span class="pricing-plan-price">5000</span></h6>
                </div>
                <a href="/contact-us" class="primary-button w-inline-block">
                    <div>@Localizer["Buy"]</div>
                    <div class="clip">
                        <div class="clip-icon-wrapper">
                            <img src="~/images/group-201-20-4-.svg" loading="lazy" alt="icon" class="btn-icon" />
                        </div>
                        <div class="clip-icon-wrapper right"><img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="btn-icon" /></div>
                    </div>
                </a>
                <ul role="list" class="pricing-plan-list">
                    <li>@Localizer["UP2"]</li>
                    <li>@Localizer["Delivery"]</li>
                    <li>@Localizer["Single"]</li>
                    <li>@Localizer["Script"]</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Начало dark-bg-without-bottom -->
@Html.Partial("DarkBgWithoutBottom")
<!-- Конец dark-bg-without-bottom -->