@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!-- Начало Search Desktop -->
@Html.Partial("SearchDesktop")
<!-- Конец Search Desktop -->
<section class="banner-home-2">
	<div data-poster-url="~/images/6883825-sd_960_506_25fps-poster-00001.jpg"
		 data-video-urls="~/images/6883825-sd_960_506_25fps-transcode.mp4,~/images/6883825-sd_960_506_25fps-transcode.webm"
		 data-autoplay="true"
		 data-loop="true"
		 data-wf-ignore="true"
		 class="full-video-bg z1 w-background-video w-background-video-atom">
		<video id="6aed76c6-3f37-ed8a-f786-9230dcbbce1a-video"
			   autoplay
			   loop
			   style='background-image:url("~/images/6883825-sd_960_506_25fps-poster-00001.jpg")'
			   muted
			   playsinline
			   data-wf-ignore="true"
			   data-object-fit="cover">
			<source src="~/images/6883825-sd_960_506_25fps-transcode.mp4" data-wf-ignore="true" />
			<source src="~/images/6883825-sd_960_506_25fps-transcode.webm" data-wf-ignore="true" />
		</video>
	</div>
	<div class="services-ov"></div>
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="w-layout-hflex home-2-banner-top relative-20">
			<div class="w-layout-vflex about-title">
				<div class="w-layout-vflex vertical-20">
					<div class="position-relative">
						<h1 class="text-white">@Localizer["a"]</h1>
					</div>
					<div class="banner-2-description">
						<div class="paragraph-large text-white">
							@Localizer["b"]
						</div>
					</div>
				</div>
			</div>
			<a href="#scroll" class="scroll-link w-inline-block">
				<div>@Localizer["c"]</div>
				<div class="dot"></div>
			</a>
		</div>
	</div>
</section>


<div id="scroll" class="section">
	<div class="w-layout-blockcontainer base-container w-container">
		<div class="position-relative">
			<div class="collection-list-wrapper w-dyn-list">
				<div role="list" class="collection-grid-3-column tablet-2 w-dyn-items">
					<div role="listitem" class="collection-item w-dyn-item">
						<a href="/services/cinematic-storytelling" class="service-link w-inline-block">
							<img src="~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.22.11.png"
								 loading="lazy"
								 alt="Work Image"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 32vw, 420px"
								 srcset="
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.22.11-p-500.png   500w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.22.11-p-800.png   800w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.22.11-p-1080.png 1080w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.22.11-p-1600.png 1600w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.22.11.png        1918w
										"
								 class="cover-image tablet-without-opacity" />
						</a>
						<div class="w-layout-vflex bottom-service">
							<div class="w-layout-vflex vertical-8">
								<div class="clip">
									<div class="clip-text-wrapper"><a href="/services/cinematic-storytelling" class="works-title">@Localizer["d"]</a></div>
									<div class="clip-text-wrapper bottom"><a href="/services/cinematic-storytelling" class="works-title">@Localizer["d"]</a></div>
								</div>
								<div class="w-layout-hflex date-work-wrapp dark"><div class="service-description">@Localizer["e"]</div></div>
							</div>
							<a href="/services/cinematic-storytelling" class="link-with-line w-inline-block">
								<div>@Localizer["View"]</div>
								<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
								<div class="hover-line"><div class="hover-line-fill"></div></div>
							</a>
						</div>
					</div>
					<div role="listitem" class="collection-item w-dyn-item">
						<a href="/services/creative-editing" class="service-link w-inline-block">
							<img src="~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.39.46.png"
								 loading="lazy"
								 alt="Work Image"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 32vw, 420px"
								 srcset="
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.39.46-p-500.png   500w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.39.46-p-800.png   800w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.39.46-p-1080.png 1080w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.39.46.png        1349w
										"
								 class="cover-image tablet-without-opacity" />
						</a>
						<div class="w-layout-vflex bottom-service">
							<div class="w-layout-vflex vertical-8">
								<div class="clip">
									<div class="clip-text-wrapper"><a href="/services/creative-editing" class="works-title">@Localizer["f"]</a></div>
									<div class="clip-text-wrapper bottom"><a href="/services/creative-editing" class="works-title">@Localizer["f"]</a></div>
								</div>
								<div class="w-layout-hflex date-work-wrapp dark"><div class="service-description">@Localizer["g"]</div></div>
							</div>
							<a href="/services/creative-editing" class="link-with-line w-inline-block">
								<div>@Localizer["View"]</div>
								<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
								<div class="hover-line"><div class="hover-line-fill"></div></div>
							</a>
						</div>
					</div>
					<div role="listitem" class="collection-item w-dyn-item">
						<a href="/services/visual-effects" class="service-link w-inline-block">
							<img src="~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.27.40.png"
								 loading="lazy"
								 alt="Work Image"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 32vw, 420px"
								 srcset="
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.27.40-p-500.png   500w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.27.40-p-800.png   800w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.27.40-p-1080.png 1080w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.27.40.png        1354w
										"
								 class="cover-image tablet-without-opacity" />
						</a>
						<div class="w-layout-vflex bottom-service">
							<div class="w-layout-vflex vertical-8">
								<div class="clip">
									<div class="clip-text-wrapper"><a href="/services/visual-effects" class="works-title">@Localizer["h"]</a></div>
									<div class="clip-text-wrapper bottom"><a href="/services/visual-effects" class="works-title">@Localizer["h"]</a></div>
								</div>
								<div class="w-layout-hflex date-work-wrapp dark"><div class="service-description">@Localizer["i"]</div></div>
							</div>
							<a href="/services/visual-effects" class="link-with-line w-inline-block">
								<div>@Localizer["View"]</div>
								<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
								<div class="hover-line"><div class="hover-line-fill"></div></div>
							</a>
						</div>
					</div>
					<div role="listitem" class="collection-item w-dyn-item">
						<a href="/services/sound-design" class="service-link w-inline-block">
							<img src="~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.46.16.png"
								 loading="lazy"
								 alt="Work Image"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 32vw, 420px"
								 srcset="
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.46.16-p-500.png   500w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.46.16-p-800.png   800w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.46.16-p-1080.png 1080w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.46.16.png        1348w
										"
								 class="cover-image tablet-without-opacity" />
						</a>
						<div class="w-layout-vflex bottom-service">
							<div class="w-layout-vflex vertical-8">
								<div class="clip">
									<div class="clip-text-wrapper"><a href="/services/sound-design" class="works-title">@Localizer["j"]</a></div>
									<div class="clip-text-wrapper bottom"><a href="/services/sound-design" class="works-title">@Localizer["j"]</a></div>
								</div>
								<div class="w-layout-hflex date-work-wrapp dark"><div class="service-description">@Localizer["k"]</div></div>
							</div>
							<a href="/services/sound-design" class="link-with-line w-inline-block">
								<div>@Localizer["View"]</div>
								<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
								<div class="hover-line"><div class="hover-line-fill"></div></div>
							</a>
						</div>
					</div>
					<div role="listitem" class="collection-item w-dyn-item">
						<a href="/services/brand-films" class="service-link w-inline-block">
							<img src="~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.32.33.png"
								 loading="lazy"
								 alt="Work Image"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 32vw, 420px"
								 srcset="
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.32.33-p-500.png   500w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.32.33-p-800.png   800w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.32.33-p-1080.png 1080w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.32.33.png        1352w
										"
								 class="cover-image tablet-without-opacity" />
						</a>
						<div class="w-layout-vflex bottom-service">
							<div class="w-layout-vflex vertical-8">
								<div class="clip">
									<div class="clip-text-wrapper"><a href="/services/brand-films" class="works-title">@Localizer["l"]</a></div>
									<div class="clip-text-wrapper bottom"><a href="/services/brand-films" class="works-title">@Localizer["l"]</a></div>
								</div>
								<div class="w-layout-hflex date-work-wrapp dark"><div class="service-description">@Localizer["m"]</div></div>
							</div>
							<a href="/services/brand-films" class="link-with-line w-inline-block">
								<div>@Localizer["View"]</div>
								<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
								<div class="hover-line"><div class="hover-line-fill"></div></div>
							</a>
						</div>
					</div>
					<div role="listitem" class="collection-item w-dyn-item">
						<a href="/services/drone-cinematography" class="service-link w-inline-block">
							<img src="~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.36.46.png"
								 loading="lazy"
								 alt="Work Image"
								 sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 991px) 47vw, (max-width: 1439px) 32vw, 420px"
								 srcset="
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.36.46-p-500.png   500w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.36.46-p-800.png   800w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.36.46-p-1080.png 1080w,
											~/images/d0-97-d0-bd-d1-96-d0-bc-d0-be-d0-ba-20-d0-b5-d0-ba-d1-80-d0-b0-d0-bd-d0-b0-202025-01-15-20-d0-be-2011.36.46.png        1270w
										"
								 class="cover-image tablet-without-opacity" />
						</a>
						<div class="w-layout-vflex bottom-service">
							<div class="w-layout-vflex vertical-8">
								<div class="clip">
									<div class="clip-text-wrapper"><a href="/services/drone-cinematography" class="works-title">@Localizer["n"]</a></div>
									<div class="clip-text-wrapper bottom"><a href="/services/drone-cinematography" class="works-title">@Localizer["n"]</a></div>
								</div>
								<div class="w-layout-hflex date-work-wrapp dark"><div class="service-description">@Localizer["o"]</div></div>
							</div>
							<a href="/services/drone-cinematography" class="link-with-line w-inline-block">
								<div>@Localizer["View"]</div>
								<img src="~/images/group-201-20-1-.svg" loading="lazy" alt="icon" class="link-icon" />
								<div class="hover-line"><div class="hover-line-fill"></div></div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="w-layout-grid service-videos">
				<div class="service-video">
					<div data-poster-url="~/images/service-201-poster-00001.jpg"
						 data-video-urls="~/images/service-201-transcode.mp4,~/images/service-201-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 class="full-video-work w-background-video w-background-video-atom">
						<video id="90757ea8-bc61-966d-0920-aa4a4c1cb321-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("~/images/service-201-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/service-201-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/service-201-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
				</div>
				<div class="service-video">
					<div data-poster-url="~/images/6202770-sd_640_338_25fps-poster-00001.jpg"
						 data-video-urls="~/images/6202770-sd_640_338_25fps-transcode.mp4,~/images/6202770-sd_640_338_25fps-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 class="full-video-work w-background-video w-background-video-atom">
						<video id="9e748f58-d054-f630-8e0d-e4ddd2f1c914-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("~/images/6202770-sd_640_338_25fps-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/6202770-sd_640_338_25fps-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/6202770-sd_640_338_25fps-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
				</div>
				<div class="service-video">
					<div data-poster-url="~/images/service-203-poster-00001.jpg"
						 data-video-urls="~/images/service-203-transcode.mp4,~/images/service-203-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 class="full-video-work w-background-video w-background-video-atom">
						<video id="8268dfca-1d93-5470-93ef-553ef3db0c99-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("~/images/service-203-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/service-203-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/service-203-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
				</div>
				<div class="service-video">
					<div data-poster-url="~/images/8100339-sd_640_338_25fps-poster-00001.jpg"
						 data-video-urls="~/images/8100339-sd_640_338_25fps-transcode.mp4,~/images/8100339-sd_640_338_25fps-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 class="full-video-work w-background-video w-background-video-atom">
						<video id="a6848d47-2287-7fb8-89ad-3dc37433c7ee-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("~/images/8100339-sd_640_338_25fps-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/8100339-sd_640_338_25fps-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/8100339-sd_640_338_25fps-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
				</div>
				<div class="service-video">
					<div data-poster-url="~/images/service-205-poster-00001.jpg"
						 data-video-urls="~/images/service-205-transcode.mp4,~/images/service-205-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 class="full-video-work w-background-video w-background-video-atom">
						<video id="406de7c3-ccb0-8119-d8d0-44aac04593fa-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("~/images/service-205-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/service-205-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/service-205-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
				</div>
				<div class="service-video">
					<div data-poster-url="~/images/18253602-sd_640_360_30fps-poster-00001.jpg"
						 data-video-urls="~/images/18253602-sd_640_360_30fps-transcode.mp4,~/images/18253602-sd_640_360_30fps-transcode.webm"
						 data-autoplay="true"
						 data-loop="true"
						 data-wf-ignore="true"
						 class="full-video-work w-background-video w-background-video-atom">
						<video id="c9fecd6d-7fc8-50cc-e4f7-0060554b1564-video"
							   autoplay=""
							   loop=""
							   style='background-image:url("~/images/18253602-sd_640_360_30fps-poster-00001.jpg")'
							   muted=""
							   playsinline=""
							   data-wf-ignore="true"
							   data-object-fit="cover">
							<source src="~/images/18253602-sd_640_360_30fps-transcode.mp4" data-wf-ignore="true" />
							<source src="~/images/18253602-sd_640_360_30fps-transcode.webm" data-wf-ignore="true" />
						</video>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Начало dark-bg-without-bottom -->
@Html.Partial("DarkBgWithoutBottom")
<!-- Конец dark-bg-without-bottom -->